body {
  background-color: #F5F5FA;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

p{
  color:gray
}
h4{
 font-weight: 500 !important;
}